body {
  font-size:14pt;
  font-family:Roboto, Arial, sans-serif;
  margin:0px;
}

core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }

html, body {
  height: 100%;
}

core-toolbar {
  background-color:#3260b5;
  
  height:66%;
}

core-toolbar div{
  height:50px;
}

core-toolbar div div{
  width:50px;
}

.projectobj{
  
  margin:10px;
  padding-left:10px;
  padding-right:10px;
  /*
  padding-top:5px;
  padding-bottom:5px;
  */
  background-color:#FFFF66;
}
